.chamada{
    background: rgba(128, 0, 128, 0.582);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto {
    margin-right: 5%;
}

body {
    color:whitesmoke;
    background-color: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 200px;
}
header {
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
    color: blueviolet;
}
h1{
    font-size:40px;
}
p{
    font-size:20px;
}
img{
    height:200px;
}
.categoria-videos {
    display: flex;
    overflow-x:auto;
    gap:10px;
}
.categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px; 
}
.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}
.categoria-videos img:hover {
    opacity :1.0;
    border: 5px solid rgb(224, 230, 40);
}
.categoria h2{
    color: rgb(163, 42, 228);
}